<h1><img src="asset/logo.png" width="450" alt="basket.js logo"></h1>
<h2>A simple (proof-of-concept) script loader that caches scripts with localStorage</h2>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="basket.js - a simple script loader that caches scripts with localStorage" data-via="addyosmani">Tweet</a>
<p>
	<strong>Version 0.5.0: </strong>
	<a href="dist/basket.js">basket.js</a> (2.2 kB) &nbsp;
	<a href="dist/basket.min.js">basket.min.js</a>* (0.7 kB gzipped) &nbsp;
	<a href="dist/basket.full.min.js">basket.full.min.js</a> (3.8 kB gzipped) &nbsp;
  <a href="http://cdnjs.com/libraries/basket.js">CDN-Usage</a>&nbsp;
	<small>* = Use this version if you want to manually handle the <a href="https://github.com/tildeio/rsvp.js">rsvp.js</a> dependency</small>
</p>
<div id="message" class="content"><p><strong>If you're seeing this message, something has gone wrong. Please ensure you are testing this page using a HTTP server.</strong></p></div>
